{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "TABLES_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "ALLOWED_ADMINS": "you@yourcompany.com"
  },
  "Host": {
    "CORS": "*"
  }
}
